* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #F69E7D;
    color: white;
    font-size: 24px;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 2em;
}

.container {
    width: 80%;
    max-width: 20em;
    margin: auto;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #F69E7D;
    padding-bottom: 1em;
    text-decoration: none;
}

.card_description {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card > img {
    object-fit: cover;
}

.card > p {
    padding: 0 1em;
    color: white;
}
